# notebook
.ipynb_checkpoints/

# env
env/

# creds
ensign/client.json
ensign/ensign-creds.json
ensign/opensky-creds.json
ensign/flightradar-creds.json

# misc
ensign/ref/
ensign/fr24_testing.ipynb
test/